################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeoChatter.GeoGuessr/GeoChatter.GeoGuessr/bin
/GeoChatter.GeoGuessr/GeoChatter.GeoGuessr/obj
